RazorPagesMovie/bin/
RazorPagesMovie/obj/
FrameworkPlusCoreDemo/tests/Car.Tests/bin/
RazorPagesMovie/.vs/
FrameworkPlusCoreDemo/tests/Car.Tests/obj/
FrameworkPlusCoreDemo/src/Car/obj/
FrameworkPlusCoreDemo/src/Car/bin/
