################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DefaultInterfaceMethods/obj
/.vs
/DICoreWebAppDemo
/DotNetTraining/obj
/InterpolatedVerbatimDemo/InterpolatedVerbatimDemo/obj
/NullableReferenceTypeDemo/obj
/StaticLocalFunction/obj
/ReadOnlyDemo
/SwitchExpressionsDemo/obj
/NullForgivingOperatorDemo/obj
/UnmanagedConstructedTypes/obj
/ConstructorInjection
/AsynchronousStreamDemo/obj
