################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetTraining
/NullableReferenceTypeDemo/obj
/ReadOnlyDemo
/UnmanagedConstructedTypes/obj
/TestAPP
/StaticLocalFunction/obj
/NullForgivingOperatorDemo/obj
/SwitchExpressionsDemo
/.vs
/InterpolatedVerbatimDemo/InterpolatedVerbatimDemo/obj
/DefaultInterfaceMethods/obj
/AsynchronousStreamDemo/obj
